{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/employees.css' %}">
</head>
<body>

<h2>Employee List</h2>

<a href="{% url 'add_employees' %}" class="add-btn">+ Add Employee</a>
<a href="{% url 'process_payroll' %}" class="add-btn">Process Payroll</a>

<h3>Mark Attendance</h3>
<form method="post" action="{% url 'mark_attendance' %}">
    {% csrf_token %}
    <label>Emp ID:</label>
    <input type="text" name="emp_id" required>
    <label>Date:</label>
    <input type="date" name="date" value="{% now 'Y-m-d' %}" required>
    <button type="submit">Mark Present</button>
</form>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary Per Day</th>
        <th>Actions</th>
    </tr>

    {% for e in employees %}
    <tr>
        <td>{{ e.emp_id }}</td>
        <td>{{ e.name }}</td>
        <td>{{ e.basic_salary }}</td>
        <td>
            <a href="{% url 'edit_employees' e.id %}" class="edit-btn">Edit</a> |
            <a href="{% url 'delete_employee' e.id %}"
               class="delete-btn"
               onclick="return confirm('Delete this employee?');">
               Delete
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
